/*
  ----- GLOBAL VARIABLES -----
*/
$white: #fff;
$headerBackground: #333333;
$admin: #2fc7e2;
$notification: #c4c4c4;
$headingColor: #00291b;
$success: #e6ffee;
$green: #17ad49;
$midNeutral: #788e86;
$filterHeadingColor: #3c5b51;
