.attendance-container {
  display: flex;
  height: 100vh;
}

.data-table-section {
  width: 80%;
  padding: 24px;
}

.attendance-left-section {
  border-right: 1px solid #ddd;
  width: 20%;

  .top-left-section,
  .mid-left-section,
  .filter-section {
    padding: 24px;
    border-bottom: 1px solid #ddd;
  }

  .cta-left-section {
    padding: 24px;
  }

  h2 {
    font-size: 24px;
    font-weight: 500;
    color: $headingColor;
    margin-bottom: 15px;
  }

  .left-nav {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
  }

  .left-nav-item {
    padding: 10px;
    border-radius: 4px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .default-left-icon-color {
    color: $midNeutral;
  }

  .success {
    background-color: $success;
    color: $headingColor;
    font-weight: 600;

    .green-color {
      color: $green;
    }
  }
}

.calendar-container {
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  gap: 10px;

  .calendar-icon {
    color: $green;
  }

  .announcement-link {
    background-color: $green;
    padding: 10px;
    color: $white;
    border-radius: 4px;
  }

  .calendar-left {
    margin-right: auto;
    display: flex;
    align-items: center;
    gap: 10px;
  }
}

#search-left-button {
  background-color: $green;
}

.filter-heading {
  display: flex;
  align-items: center;

  h5 {
    margin-right: auto;
    font-size: 16px;
    font-weight: 500;
    color: $filterHeadingColor;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
}

.filter-items {
  position: relative;
  margin: 10px 15px;

  label {
    position: absolute;
    z-index: 2;
    background: #fff;
    left: 8px;
    font-size: 13px;
    color: #c4c4c4;
    transform: translate(4px, -9px);
  }
}

.attendance-left-section {
  overflow-y: scroll;
}

.attendance-left-section::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #f5f5f5;
}

.attendance-left-section::-webkit-scrollbar {
  width: 7px;
  background-color: #f5f5f5;
}

.attendance-left-section::-webkit-scrollbar-thumb {
  border-radius: 10px;

  background-color: rgba(191, 191, 191, 1);
}

.employee-id {
  display: block;
  color: $midNeutral;
}

.last-name {
  margin-left: 5px;
}

.range-section {
  margin-top: -26px;
}

.exported-section {
  width: 100%;
  padding: 24px;

  .n-card__content {
    display: flex;
  }
}

.col-card {
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .col-exported-files {
    align-self: center;
    justify-content: center;
    display: flex;
  }
}

.no-data {
  display: flex;
  align-items: center;
  flex-direction: column;
  h1 {
    font-size: 28px;
    font-weight: bold;
  }
}

.page-heading {
  h1 {
    font-size: 26px;
    font-weight: bold;
  }

  h5 {
    margin-bottom: 15px;
  }
}

.modal-save {
  background-color: $green;
  margin-top: 18px;
}
